doctype html
html(lang="ja")
  head
    include _layout_head_meta

    meta(name="description", content="")
    meta(name="keywords", content="")
    title= title

    include _layout_head_style
    include _layout_head_html5shim

  body
    h1 #{title}

    #journals
      h2 Journals
      ul
        - each journal in sort(site.journals, { by: 'date' })
          li
            a(href="#{journal.url}")= journal.date + " - " + journal.title

    include _layout_body_scripts

    include _ga
